
#book-card{
    height: 300px;
    padding-top: 10px;
}

.buttons-div{
    display:flex;
    text-align:center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
}

.navButon{
    color: white;
}

#card{
    border-radius: 10px;
}

#see_more {
    padding: 10px 0px;
}

.navButton{
    align-items: flex-end;

}

