.logo-container .brand-logo{
    font-size: 100px;
}

.logo-container{
    margin-left: 10px;
}

.Nav-active{
    color: white;
    background-color: orange;
   
}

.logo-container.brand-logo{
    margin-right: 10px;
}

li{
    margin-left: 20px;
}

#searchbar {
    width: 20%;
}

#face{
    margin-left: 45px;
}

#add_book{
    margin-left: 50px;
}