.logo-container .brand-logo {
    font-size: 100px;
    margin-right: 10px;
}

.logo-container {
    margin-left: 10px;
}

.Nav-active {
    color: white;
    background-color: orange;
}

#shopping_cart{
    margin-left: 80px;
}

#book-icon{
    margin-left: 0px;
}

li {
    margin-left: 20px;
}

#search {
    width: 100%;
}

#search-btn{
    margin-left: 0px;
}

#face {
    margin-left: 80px;
}

#add_book {
    margin-left: 50px;
}
#loginLi{
    margin-left: 50px;
}