.logo-container .brand-logo {
    font-size: 100px;
    margin-right: 10px;
}

.logo-container {
    margin-left: 10px;
}

.Nav-active {
    color: white;
    background-color: orange;
    
}

#book-icon{
    margin-left: 10px;
}
#favorite{
    margin-left: 50px;
}
#shopping_cart{
    margin-left: 90px;
}
#orders{
    margin-left: 130px;
}
#face {
    margin-left: 170px;
}
#search {
    width: 100%;
}

#search-btn{
    margin-right: 0px;
}

#user-name{
    padding-left: 30px;
}
#add_book {
    margin-left: 50px;
}
#loginLi{
    margin-left: 50px;
}
