
.grid-container {
    display: grid;
    grid-gap: 40px;
    grid-auto-columns: minmax(200px, auto);
    grid-template-areas: 
    "title title title title"
    "picture information information information"
    "details details details details";
    justify-items: center;
    align-items: center;
}

h3{
    grid-area: title;
}

#img{
    grid-area: picture;
    height: 300px;
    width: auto;
}

.information{
    grid-area: information;
    
}

.info{
    grid-area: details;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.comment-button {
    text-align: center;
    margin: 40px;
}

#price {
    display: inline-block;
    border: 2px solid #2196F3;
    margin: 20px;
}